.banner-bg{
    background-image: url('https://i.ibb.co/5rgzMvy/OIG-it1jvp-Co-NTQl-J.jpg'),
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}