.banner-bg{
    background-image: url('https://i.ibb.co/t8g8DM8/773dd5dbde07477a1e2cea78bb442bb5.jpg'),
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}