.banner-bg{
    background-image: url('https://i.ibb.co/z24gy5k/0c2411ad3970ef21ffb8df42a0396f3c.jpg'),
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}