@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700;800&family=Cinzel:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;600;700&family=Satisfy&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-cinzel{
  font-family: Cinzel, serif;
}

.font-inter{
  font-family: Inter, sans-serif;
}

.font-railway{
  font-family: Railway, sans-serif;
}

.font-satisfy{
  font-family: Satisfy, cursive;
}

.font-changa{
  font-family: Changa One, cursive;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
